@backgroundColor: #373234;
@backgroundColorSecondary: white;
@accentColor: #FF356B;
@accentColorSecondary: #35FFD0;
@accentColorTerciary: #FFD735;
@textColor: #373234;
@primaryTextColor: @textColor;
@textColorSecondary: #ffffff;
